<!doctype html>
<title>Bank of JAPJ</title>
<style type='text/css' src='password.css'></style>
<script type='application/javascript' src='password.js'></script>
<style type='text/css'>

body {
    margin: 0;
}

h1 {
    margin: 0;
    padding-top: 0.6em;
    padding-bottom: 1em;
    padding-left: 20%;
    font-weight: bold;
    font-family: 'Cantarell', 'URW Gothic L', sans-serif;
    color: #dc231a;
    font-size: 1.3em;
}

hr {
    background: -moz-linear-gradient(top, #d71b05, #d50c02, #b70000);
    border: none;
    height: 1.75em;
}

section {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    padding: 1.5em;
    width: 60%;
    color: #777;
    background-color: #f6f6f6;
    color: #666666;
    border: 1px solid #666666;
    font-family: 'Arial', sans-serif;
}

h2 {
    margin-top: 0;
    font-size: 1.25em;
}

</style>
<h1>Bank of JAPJ</h1>
<hr>

<section>
<%= yield %>
</section>

