<!doctype html>
<title>Domesday Book</title>
<style type='text/css' src='password.css'></style>
<script type='application/javascript' src='password.js'></script>
<style type='text/css'>

body {
    background-color: /*rgb(211, 216, 232)*/ rgb(235, 235, 244);
    margin: 0;
}

h1 {
    margin: 0;
    padding-top: 0.6em;
    padding-bottom: 0.4em;
    padding-left: 5em;
    background-color: rgb(59, 89, 152);
    font-family: 'Yanone Kaffeesatz Regular', 'PT Sans Narrow', 'VL Gothic',
        sans-serif;
    color: white;
    font-size: 3em;
}

section {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: rgb(14, 56, 95);
    font-family: 'Arial', sans-serif;
}

h2 {
    font-size: 1.25em;
}

</style>
<h1>domesday</h1>

<section>
<%= yield %>
</section>

