<!doctype html>
<title>Email</title>
<style type='text/css'>

body {
    margin: 0;
    font-family: 'Crimson', 'Vollkorn', serif;
    font-size: 1.5em;
}

h1 {
    margin: 0;
    padding-top: 0.6em;
    padding-bottom: 0.3em;
    padding-right: 25%;
    text-align: right;
}

section {
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    width: 60%;
    border: 1px solid #666666;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

</style>
<h1>Email</h1>

<section>
<%= yield %>
</section>

