.row
	.twocol
	%article:{:class => "eightcol home_class"}
		%h1 Welcome
		
		- if (@logged_in)
			%p If you'd like to take the passphrase test, please <a href="/phrase/test">take the test</a>.
		- else
			%p To get started, please <a href="/login">Log in or create an account.</a>
	%div{:class => "twocol last"}