<h2>New Account</h2>

<p>Pick a username.
<p><input type='text' name='username'>
<p>We&#8217;ve made up a password for you. Here it is:
<p class='password assigned'>
<% for chunk in $passphrases[site] %>
    <span class='chunk'>
    <%= chunk.pre %>
    <span title='<%= chunk.clue %>'><%= chunk.word %></span>
    <%= chunk.post %>
    </span>
<% end %>

<script type='application/javascript'>
function done() {
    var assigned = [];
    var entered = [];
    $('.password.assigned .chunk span').each(function (i, elem) {
        assigned.push($(elem).text());
    });
    $('.password.entry .chunk input[type="text"]').each(function (i, elem) {
        entered.push($(elem).val());
    });
    var equal = true;
    for (var i = 0; i < assigned.length; i++) {
        if (assigned[i] != entered[i]) {
            equal = false;
        }
    }
    
    if (equal) {
        $('#success').css('display', 'block');
    } else {
        alert("Oops. That's not the right password. Try again.");
    }
    $('.password.entry > .chunk').remove();
    $('.password.entry input[type="submit"]').replaceWith(
        "<input type='image' src='/next.png' alt='→' " +
        "onclick='next(this); return false;'>")
    start();
}
</script>

<p style='font-size: smaller; margin-top: 1em;'>(If you don't like this password, you can get a <a href='#' onclick='location.reload(true); return false;'>new one</a>).

<p style='margin-top: 2em'>Now try entering it:
<form onsubmit='done(); return false' method='POST'>
<p class='password entry'>
<img src='/throbber.png' alt='loading...'>
<input type='image' src='/next.png' alt='→' onclick='next(this); return false;'>
</form>


<p style='margin-top: 2em; display: none;' id='success'>
Great! If you want, you can practice more. When you think you've learned the
password, go back to the <a href='/'>main page</a>.

