<h2>New Account</h2>

<p>Pick a username.
<p><input type='text' name='username'>
<p>We&#8217;ve made up a password for you. Here it is:
<p><% #password %>
<p>Now try entering it:
<p><% #erb :entry %>



