.row
	.twocol
	%article:{:class => "eightcol home_class"}
		%h1 Test your skills
		%p
			Here's where we'll get the user to attempt the various passwords and such (3 different ones).

	%div{:class => "twocol last"}