.password input[type=text] {
    border: none;
    border-bottom: 1px solid #666;
    font-family: sans-serif;
    width: 10em;
}

.chunk span { position: relative; }
.chunk span::before {
    position: absolute;
    top: 110%;
    display: inline-block;
    width: 100%;
    text-align: center;
    content: attr(title);
    font-family: sans-serif;
    font-size: 75%;
    color: gray;
}

.password img, .password input[type=image] {
    height: 16px;
    width: 16px;
    display: inline-block;
}

.chunk {
    -moz-animation-duration: 0.5s;
    -moz-animation-name: addchunk;
    position: relative;
}

.chunk:first-child {
    -moz-animation-duration: 0s;
}

@-moz-keyframes addchunk {
    from {
        opacity: 0;
        left: -15em;
    }

    to {
        opacity: 1;
        left: 0;
    }
}

